services:
    jenkins-docker:
        image: docker:dind
        container_name: jenkins-docker
        privileged: true
        restart: unless-stopped
        networks:
            jenkins:
                aliases:
                    - docker
        environment:
            - DOCKER_TLS_CERTDIR=/certs
        volumes:
            - jenkins-docker-certs:/certs/client
            - jenkins-data:/var/jenkins_home
        ports:
            - '2376:2376'

    jenkins-blueocean:
        build:
            context: .
            dockerfile: Dockerfile
        image: myjenkins-blueocean:2.528.2-1
        container_name: jenkins-blueocean
        restart: on-failure
        user: root
        networks:
            - jenkins
        environment:
            - DOCKER_HOST=unix:///var/run/docker.sock
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - jenkins-data:/var/jenkins_home
        ports:
            - '8888:8080'
            - '50000:50000'
        depends_on:
            - jenkins-docker

networks:
    jenkins:
        name: jenkins
        driver: bridge

volumes:
    jenkins-docker-certs:
    jenkins-data:
