gcp_svc_key                = "./iam.json"
gcp_project                = ""
gcp_region                 = ""
repository_id              = "intelink-repository"
cloudsql_name              = "intelink-sql"
cloudsql_version           = "POSTGRES_17"
cloudsql_tier              = "db-custom-2-4096"
cloudsql_edition           = "ENTERPRISE"
database_name              = "IntelinkDB"
database_user              = "postgres"
database_password          = ""